<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  

<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
</style>
</head>
<body>
<div class="row">
	<div class="col-lg-6">
		<h2 style="text-align:center">Product Card</h2>

		<div class="card">
		  <img src="adidas-flat-run.jpg" alt="Adidas yellow" style="width:100%">
		  <h1>Adidas</h1>
		  <p class="price">$95.99</p>
		  <p>Some text about the shoes. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
		  <p><button>Add to Cart</button></p>
		</div>
	</div>


	<div class="col-lg-6">
		<h2 style="text-align:center">Product Card</h2>

		<div class="card">
		  <img src="adidas-green.jpg" alt="Adidas green" style="width:100%">
		  <h1>Adidas Flat Run Shoes</h1>
		  <p class="price">$249.99</p>
		  <p>Some text about the shoes. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
		  <p><button>Add to Cart</button></p>
		</div>
	</div>
</div>

</body>
</html>
